{% extends "base.html" %}
{% block content %}
{% if Notes %}
<div class="container">
<div class="row row-cols-4">
<!-- <h2 id=message></h2> -->
    {% for notes in Notes %}
      <div class="card">
        {% if notes.image %}
        <img src="{{ notes.image }}" class="card-img-top" alt="...">
        {% endif %} 
        <div class="card-body">
          <h5 class="card-title" id='title' name="title">{{ notes.title }}</h5>
          <p class="card-text">{{ notes.note}}</p>
          <p class="card-text"><small class="text-muted">{{ notes.time}}</small></p>
        </div>
        <div class="card-footer">
          {% include 'delete.html' %}
          {% include 'model.html' %}
          <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
        </div>
        </div>
    {% endfor %}  

</div>
</div>
<div>
  {% for message in messages %}
  <script>
    alert("{{message}}")
  </script>
  {% endfor %}
</div>
{% elif empty %}
<h1>Sorry No Notes Found</h1>
{% else  %}
{% include 'firstNote.html' %}
        {% endif %}
{% endblock %}